<h1>Your Kitchen Inventory</h1>

<p>
  <b>Pantry Items:</b>
<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Name</th>
    <th>Notes</th>
  </tr>
  <%= render :partial => "pantry_item", :collection => @inventory.pantry_items %>
</table>

</p>

<p>
  <b>Notes:</b>
  <%=h @inventory.notes %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> 